/* Custom scrollbar styles */
.scrollbar::-webkit-scrollbar {
  width: 8px !important; /* Set scrollbar width (height for horizontal scrollbar) */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #9b4dca !important; /* Scrollbar color */
  border-radius: 4px !important; /* Rounded edges */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #7c3aed; /* Hover color */
}

.scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d !important; /* Track color */
  border-radius: 4px !important;
}

.scrollbar {
  touch-action: auto !important; /* Re-enables touch interactions */
}

::-webkit-scrollbar:not(.scrollbar) {
  display: none !important;
}

html {
  overflow-y: hidden !important;
  touch-action: none !important; /* Disables touch-based interactions */
  -ms-touch-action: none !important; /* For older IE/Edge versions */
}
